body {
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
  }
  .navbar {
    background-color: #333; /* Darker navbar background color */
  }
  .dropdown-menu {
    background-color: #333; /* Darker dropdown background color */
  }
  .dropdown-item {
    color: #fff; /* Light text color for dropdown items */
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: #555; /* Darker background color on hover/focus */
  }

  /* Custom CSS for adding logos */
  .dropdown-item-logo {
    padding-left: 40px; /* Adjust as needed */
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px auto;
  }
  .dropdown-item-fire {
    background-image: url('../img/icons/fire_icon.png'); /* Path to the fire logo image */
  }
  .dropdown-item-water {
    background-image: url('../img/icons/water_icon.png'); /* Path to the water logo image */
  }
  .dropdown-item-nature {
    background-image: url('../img/icons/nature_icon.png'); /* Path to the nature logo image */
  }
  
  /* Add similar styles for other characters */
/*
.navbar {
    background-color: #3f3c3c;
    padding: 20px;
    text-align: center;
}

.navbar-light .navbar-toggler-icon {
    background-color: #FFFFFF;
}

.navbar-light .nav-link {
    color: #FFFFFF;
}

.navbar-light .nav-link:hover {
    color: #FF9800;
}

.dropdown-menu {
    background-color: #252525;
}

.dropdown-item {
    color: #FFFFFF;
}

.dropdown-item:hover {
    background-color: #333333;
    color: #FF9800;
}

.card {
    background-color: #121212;
    border: 1px solid #333333;
}

.card-title {
    color: #FFFFFF;
}

.nav-link {
    font-size: 18px;
}

/* Center-align the main menu items */
/*
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Set the background color of the content area */
/*.content {
    background-color: #3f3c3c;
}
ul {
    list-style: none;
    display: inline-block;
  }
  ul li {
    float: left;
    margin: 0 20px;
  }
  ul li a {
    color: white;
  }*/